<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authorize Application</title>
</head>
<body>
    <p>The app <strong>{{ app_name }}</strong> would like permission to access your account.</p><br>
    <a href="{{ cancel_path }}">Cancel</a> {{ form(form) }}
</body>
</html>
